{{> header}}
<body>
<div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <p class="sub-title">Hello {{first_name}} {{last_name}}😊</p>
</div>
<div class="right-side">
    <div class="round-image"></div>
</div>
</body>